::-webkit-scrollbar{
    width: 0;
}
*{
    scroll-behavior: smooth;
}
.itemsScroll::-webkit-scrollbar{
    width: 1px;
    color: red;
}
.itemsScroll::-webkit-scrollbar-thumb{
    color: gray;
    background: #000;
}
.itemsScroll::-webkit-scrollbar-track{
    color: gray;
}